#img-bg{
    background-image: url(https://i.pinimg.com/originals/15/d2/9e/15d29e05e15e0132d0d32ea667db8d4c.jpg);
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}